@mixin hover-outline-cards($first-color, $second-color) {
    transition-duration: 300ms;
    background-color: $first-color;
    color: $second-color;
    cursor: pointer;
    &:hover {
        color: $first-color;
        background-color: $second-color;
    }
    &:focus {
        outline: none;
        color: $first-color;
        background-color: $second-color;
    }
}
.Neutral {
    @include hover-outline-cards(white, black);
}
.Hunter {
    @include hover-outline-cards(hsl(87, 97%, 25%), hsl(87, 97%, 85%));
}
.Mage {
    @include hover-outline-cards(hsl(199, 49%, 73%), hsl(199, 49%, 13%));
}
.Paladin {
    @include hover-outline-cards(hsl(39, 76%, 44%), hsl(39, 100%, 84%));
}
.Priest {
    @include hover-outline-cards(hsl(0, 0%, 87%), hsl(0, 0%, 27%));
}
.Rogue {
    @include hover-outline-cards(hsl(0, 0%, 14%),hsl(0, 0%, 74%));
}
.Shaman {
    @include hover-outline-cards(hsl(222, 71%, 39%),hsl(222, 100%, 79%));
}
.Warrior {
    @include hover-outline-cards(hsl(353, 79%, 24%),hsl(353, 79%, 84%));
}
.Warlock {
    @include hover-outline-cards(hsl(275, 69%, 20%),hsl(275, 69%, 80%));
}
.Druid {
    @include hover-outline-cards(hsl(20, 74%, 24%),hsl(20, 74%, 84%));
}
.Demon-Hunter {
    @include hover-outline-cards(hsl(151, 100%, 18%),hsl(151, 100%, 78%));
}