
@mixin default-spacing() {
    padding: .2em;
    margin: .2em;
}
@mixin font-size($number) {
    font-size: $base-font-size * $golden-ratio * $number;
}

@mixin hover-outline($first-color, $second-color) {
    transition-duration: 300ms;
    background-color: $first-color;
    color: $second-color;
    &:hover {
        color: $first-color;
        background-color: $second-color;
    }
    &:focus {
        outline: none;
        color: $first-color;
        background-color: $second-color;
    }
}