
h1 {
    @include font-size(4);
    @include default-spacing();
}
h2 {
    @include font-size(3);
    cursor: pointer;
    span {
        @include font-size(2);
    }
}
img {
    width: 200px;
    height: 290px;
    margin: 0 auto; 
}
button {
    @include font-size(1);  
    min-width: min-content;
    width: 20%;
    padding: .8rem;
    margin: 0 auto;
}