
h1 {
    @include font-size(4);
    @include default-spacing();
}
h2 {
    @include font-size(3);
    span {
        @include font-size(2);
    }
}
header, nav {
    width: 100%;
    position: fixed;
    top: 0px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: $tertiary-color-200;
    z-index: 1;
    a {
        @include font-size(2);
        @include hover-outline($tertiary-color-200, $tertiary-color-600);
        @include default-spacing();
        color: $tertiary-color-600;
        background-color: $tertiary-color-200;
        text-decoration: none;
    }
}
img {
    width: 300px;
    height: 400px;
    margin: 0 auto; 
}
label, input {
    @include font-size(3);
    @include default-spacing();
}
input, button {
    background-color: $tertiary-color-200;
    color: $tertiary-color-600;
    border: $tertiary-color-600 solid .1em;
    transition-duration: 500ms;
    cursor: pointer;
    &:hover {
        box-shadow: .1em .1em .4em $tertiary-color-200;
    }
    &:focus {
        outline: none;
        box-shadow: .1em .1em .4em $tertiary-color-200;
    }
}
button {
    @include font-size(1);  
    width: min-content;
    padding: .2em;
    margin: 0 auto;
}