
$primary-color: black;
$secondary-color: white;
$tertiary-color-100: hsl(120, 100%, 5%);
$tertiary-color-200: hsl(120, 100%, 15%);
$tertiary-color-300: hsl(120, 100%, 25%);
$tertiary-color-400: hsl(120, 100%, 45%);
$tertiary-color-500: hsl(120, 100%, 65%);
$tertiary-color-600: hsl(120, 100%, 85%);
$base-font-size: 10px;
$golden-ratio: 1.618;
$loading-dot-size: 1em;