* {
  padding: 0;
  margin: 0;
  text-align: center;
}

.Neutral {
  -webkit-transition-duration: 300ms;
          transition-duration: 300ms;
  background-color: white;
  color: black;
  cursor: pointer;
}

.Neutral:hover {
  color: white;
  background-color: black;
}

.Neutral:focus {
  outline: none;
  color: white;
  background-color: black;
}

.Hunter {
  -webkit-transition-duration: 300ms;
          transition-duration: 300ms;
  background-color: #467e02;
  color: #dcfeb4;
  cursor: pointer;
}

.Hunter:hover {
  color: #467e02;
  background-color: #dcfeb4;
}

.Hunter:focus {
  outline: none;
  color: #467e02;
  background-color: #dcfeb4;
}

.Mage {
  -webkit-transition-duration: 300ms;
          transition-duration: 300ms;
  background-color: #98c7dc;
  color: #112731;
  cursor: pointer;
}

.Mage:hover {
  color: #98c7dc;
  background-color: #112731;
}

.Mage:focus {
  outline: none;
  color: #98c7dc;
  background-color: #112731;
}

.Paladin {
  -webkit-transition-duration: 300ms;
          transition-duration: 300ms;
  background-color: #c58a1b;
  color: #ffe2ad;
  cursor: pointer;
}

.Paladin:hover {
  color: #c58a1b;
  background-color: #ffe2ad;
}

.Paladin:focus {
  outline: none;
  color: #c58a1b;
  background-color: #ffe2ad;
}

.Priest {
  -webkit-transition-duration: 300ms;
          transition-duration: 300ms;
  background-color: #dedede;
  color: #454545;
  cursor: pointer;
}

.Priest:hover {
  color: #dedede;
  background-color: #454545;
}

.Priest:focus {
  outline: none;
  color: #dedede;
  background-color: #454545;
}

.Rogue {
  -webkit-transition-duration: 300ms;
          transition-duration: 300ms;
  background-color: #242424;
  color: #bdbdbd;
  cursor: pointer;
}

.Rogue:hover {
  color: #242424;
  background-color: #bdbdbd;
}

.Rogue:focus {
  outline: none;
  color: #242424;
  background-color: #bdbdbd;
}

.Shaman {
  -webkit-transition-duration: 300ms;
          transition-duration: 300ms;
  background-color: #1d47aa;
  color: #94b4ff;
  cursor: pointer;
}

.Shaman:hover {
  color: #1d47aa;
  background-color: #94b4ff;
}

.Shaman:focus {
  outline: none;
  color: #1d47aa;
  background-color: #94b4ff;
}

.Warrior {
  -webkit-transition-duration: 300ms;
          transition-duration: 300ms;
  background-color: #6e0d18;
  color: #f6b6bd;
  cursor: pointer;
}

.Warrior:hover {
  color: #6e0d18;
  background-color: #f6b6bd;
}

.Warrior:focus {
  outline: none;
  color: #6e0d18;
  background-color: #f6b6bd;
}

.Warlock {
  -webkit-transition-duration: 300ms;
          transition-duration: 300ms;
  background-color: #391056;
  color: #d2a9ef;
  cursor: pointer;
}

.Warlock:hover {
  color: #391056;
  background-color: #d2a9ef;
}

.Warlock:focus {
  outline: none;
  color: #391056;
  background-color: #d2a9ef;
}

.Druid {
  -webkit-transition-duration: 300ms;
          transition-duration: 300ms;
  background-color: #6a2e10;
  color: #f4ccb8;
  cursor: pointer;
}

.Druid:hover {
  color: #6a2e10;
  background-color: #f4ccb8;
}

.Druid:focus {
  outline: none;
  color: #6a2e10;
  background-color: #f4ccb8;
}

.Demon-Hunter {
  -webkit-transition-duration: 300ms;
          transition-duration: 300ms;
  background-color: #005c2f;
  color: #8fffc9;
  cursor: pointer;
}

.Demon-Hunter:hover {
  color: #005c2f;
  background-color: #8fffc9;
}

.Demon-Hunter:focus {
  outline: none;
  color: #005c2f;
  background-color: #8fffc9;
}

.loader {
  font-size: 32.36px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.loading-dot {
  width: 1em;
  height: 1em;
  background-color: black;
  border-radius: 100%;
  position: absolute;
}

.loading-dot:nth-child(1) {
  -webkit-animation: loading 2500ms -600ms linear infinite;
          animation: loading 2500ms -600ms linear infinite;
  left: -1.5em;
}

.loading-dot:nth-child(2) {
  -webkit-animation: loading 2500ms -300ms linear infinite;
          animation: loading 2500ms -300ms linear infinite;
}

.loading-dot:nth-child(3) {
  -webkit-animation: loading 2500ms linear infinite;
          animation: loading 2500ms linear infinite;
  left: 1.5em;
}

.expansion-list {
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.expansion {
  width: 95vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

h1 {
  font-size: 64.72px;
  padding: .2em;
  margin: .2em;
}

.expansion-header {
  font-size: 48.54px;
  padding: .2em;
  margin: .2em;
  -webkit-transition-duration: 300ms;
          transition-duration: 300ms;
  cursor: pointer;
  border: solid 0.1em green;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  margin: .2em auto;
  text-decoration: underline;
}

.expansion-header:hover {
  color: white;
  background-color: black;
}

.expansion-header:focus {
  outline: none;
  color: white;
  background-color: black;
}

.class-list {
  padding: .2em;
  margin: .2em;
  width: 95vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.class-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.player-class-header {
  font-size: 32.36px;
  padding: .2em;
  margin: .2em;
  -webkit-transition-duration: 300ms;
          transition-duration: 300ms;
  cursor: pointer;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  border: solid 0.1em green;
}

.player-class-header:hover {
  color: white;
  background-color: black;
}

.player-class-header:focus {
  outline: none;
  color: white;
  background-color: black;
}

.card-list {
  padding: .2em;
  margin: .2em;
  width: 90vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.card {
  padding: .2em;
  margin: .2em;
  font-size: 16.18px;
  border: solid 0.1em green;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.card-description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.card-artist, .card-flavor {
  font-weight: 900;
}

.card-artist {
  text-decoration: underline;
}

header, nav {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header a, nav a {
  font-size: 32.36px;
  -webkit-transition-duration: 300ms;
          transition-duration: 300ms;
  cursor: pointer;
  color: black;
  text-decoration: none;
}

header a:hover, nav a:hover {
  color: white;
  background-color: black;
}

header a:focus, nav a:focus {
  outline: none;
  color: white;
  background-color: black;
}

img {
  width: 300px;
  height: 400px;
}

label, input {
  font-size: 32.36px;
}

input {
  background-color: #004d00;
  color: #b3ffb3;
  border: #b3ffb3 solid 5px;
  -webkit-transition-duration: 500ms;
          transition-duration: 500ms;
}

input:hover {
  -webkit-box-shadow: 0.1em 0.1em 0.4em #004d00;
          box-shadow: 0.1em 0.1em 0.4em #004d00;
}

input:focus {
  outline: none;
  -webkit-box-shadow: 0.1em 0.1em 0.4em #004d00;
          box-shadow: 0.1em 0.1em 0.4em #004d00;
}

@-webkit-keyframes loading {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes loading {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
/*# sourceMappingURL=style.css.map */