// table of contents
// 1. default stats
// 2. variables
// 3. mixins
// 4. class definers
// 5. animation

// 1. default stats

* {
    padding: 0;
    margin: 0;
    text-align: center;
}

// 2. variables

$primary-color: black;
$secondary-color: white;
$tertiary-color: green;
$base-font-size: 10px;
$golden-ratio: 1.618;
@import "./_card-colors";

// 3. mixins

@mixin default-spacing() {
    padding: .2em;
    margin: .2em;
}
@mixin font-size($number) {
    font-size: $base-font-size * $golden-ratio * $number;
}

@mixin hover-outline() {
    transition-duration: 300ms;
    &:hover {
        color: $secondary-color;
        background-color: $primary-color;
    }
    &:focus {
        outline: none;
        color: $secondary-color;
        background-color: $primary-color;
    }
}

// 4. class definers

.expansion-list {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.expansion {
    width: 95vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
h1 {
    @include font-size(4);
    @include default-spacing();
}
.expansion-header {
    @include font-size(3);
    @include default-spacing();
    @include hover-outline();
    border: solid .1em $tertiary-color;
    width: min-content;
    margin: .2em auto;
    text-decoration: underline;
    cursor: pointer;
}
.class-list {
    @include default-spacing();
    width: 95vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.player-class-header {
    @include font-size(2);
    @include default-spacing();
    @include hover-outline();
    border: solid .1em $tertiary-color;
    cursor: pointer;
}
.card-list {
    @include default-spacing();
    width: 90vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.card {
    @include default-spacing();
    @include font-size(1);
    @include hover-outline();
    border: solid .1em $tertiary-color;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}
.card-name {
}
.card-description {
    display: flex;
    flex-direction: column;
}
.card-artist, .card-flavor {
    font-weight: 900;
}
.card-artist {
    text-decoration: underline;
}
.card-artist {
    text-decoration: wavy;
}
img {
    width: 300px;
    height: 400px;
}