html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  padding: 0;
  margin: 0;
  text-align: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  max-width: 100%;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.8rem;
  line-height: 1.5;
}

.Neutral {
  -webkit-transition-duration: 300ms;
          transition-duration: 300ms;
  background-color: white;
  color: black;
}

.Neutral:hover {
  color: white;
  background-color: black;
}

.Neutral:focus {
  outline: none;
  color: white;
  background-color: black;
}

.Neutral .description-btn {
  background-color: white;
  color: black;
  cursor: pointer;
}

.Neutral .description-btn:hover {
  color: white;
  background-color: black;
}

.Neutral .description-btn:focus {
  outline: none;
  color: white;
  background-color: black;
}

.Hunter {
  -webkit-transition-duration: 300ms;
          transition-duration: 300ms;
  background-color: #467e02;
  color: #dcfeb4;
}

.Hunter:hover {
  color: #467e02;
  background-color: #dcfeb4;
}

.Hunter:focus {
  outline: none;
  color: #467e02;
  background-color: #dcfeb4;
}

.Hunter .description-btn {
  background-color: #467e02;
  color: #dcfeb4;
  cursor: pointer;
}

.Hunter .description-btn:hover {
  color: #467e02;
  background-color: #dcfeb4;
}

.Hunter .description-btn:focus {
  outline: none;
  color: #467e02;
  background-color: #dcfeb4;
}

.Mage {
  -webkit-transition-duration: 300ms;
          transition-duration: 300ms;
  background-color: #98c7dc;
  color: #112731;
}

.Mage:hover {
  color: #98c7dc;
  background-color: #112731;
}

.Mage:focus {
  outline: none;
  color: #98c7dc;
  background-color: #112731;
}

.Mage .description-btn {
  background-color: #98c7dc;
  color: #112731;
  cursor: pointer;
}

.Mage .description-btn:hover {
  color: #98c7dc;
  background-color: #112731;
}

.Mage .description-btn:focus {
  outline: none;
  color: #98c7dc;
  background-color: #112731;
}

.Paladin {
  -webkit-transition-duration: 300ms;
          transition-duration: 300ms;
  background-color: #c58a1b;
  color: #ffe2ad;
}

.Paladin:hover {
  color: #c58a1b;
  background-color: #ffe2ad;
}

.Paladin:focus {
  outline: none;
  color: #c58a1b;
  background-color: #ffe2ad;
}

.Paladin .description-btn {
  background-color: #c58a1b;
  color: #ffe2ad;
  cursor: pointer;
}

.Paladin .description-btn:hover {
  color: #c58a1b;
  background-color: #ffe2ad;
}

.Paladin .description-btn:focus {
  outline: none;
  color: #c58a1b;
  background-color: #ffe2ad;
}

.Priest {
  -webkit-transition-duration: 300ms;
          transition-duration: 300ms;
  background-color: #dedede;
  color: #454545;
}

.Priest:hover {
  color: #dedede;
  background-color: #454545;
}

.Priest:focus {
  outline: none;
  color: #dedede;
  background-color: #454545;
}

.Priest .description-btn {
  background-color: #dedede;
  color: #454545;
  cursor: pointer;
}

.Priest .description-btn:hover {
  color: #dedede;
  background-color: #454545;
}

.Priest .description-btn:focus {
  outline: none;
  color: #dedede;
  background-color: #454545;
}

.Rogue {
  -webkit-transition-duration: 300ms;
          transition-duration: 300ms;
  background-color: #242424;
  color: #bdbdbd;
}

.Rogue:hover {
  color: #242424;
  background-color: #bdbdbd;
}

.Rogue:focus {
  outline: none;
  color: #242424;
  background-color: #bdbdbd;
}

.Rogue .description-btn {
  background-color: #242424;
  color: #bdbdbd;
  cursor: pointer;
}

.Rogue .description-btn:hover {
  color: #242424;
  background-color: #bdbdbd;
}

.Rogue .description-btn:focus {
  outline: none;
  color: #242424;
  background-color: #bdbdbd;
}

.Shaman {
  -webkit-transition-duration: 300ms;
          transition-duration: 300ms;
  background-color: #1d47aa;
  color: #94b4ff;
}

.Shaman:hover {
  color: #1d47aa;
  background-color: #94b4ff;
}

.Shaman:focus {
  outline: none;
  color: #1d47aa;
  background-color: #94b4ff;
}

.Shaman .description-btn {
  background-color: #1d47aa;
  color: #94b4ff;
  cursor: pointer;
}

.Shaman .description-btn:hover {
  color: #1d47aa;
  background-color: #94b4ff;
}

.Shaman .description-btn:focus {
  outline: none;
  color: #1d47aa;
  background-color: #94b4ff;
}

.Warrior {
  -webkit-transition-duration: 300ms;
          transition-duration: 300ms;
  background-color: #6e0d18;
  color: #f6b6bd;
}

.Warrior:hover {
  color: #6e0d18;
  background-color: #f6b6bd;
}

.Warrior:focus {
  outline: none;
  color: #6e0d18;
  background-color: #f6b6bd;
}

.Warrior .description-btn {
  background-color: #6e0d18;
  color: #f6b6bd;
  cursor: pointer;
}

.Warrior .description-btn:hover {
  color: #6e0d18;
  background-color: #f6b6bd;
}

.Warrior .description-btn:focus {
  outline: none;
  color: #6e0d18;
  background-color: #f6b6bd;
}

.Warlock {
  -webkit-transition-duration: 300ms;
          transition-duration: 300ms;
  background-color: #391056;
  color: #d2a9ef;
}

.Warlock:hover {
  color: #391056;
  background-color: #d2a9ef;
}

.Warlock:focus {
  outline: none;
  color: #391056;
  background-color: #d2a9ef;
}

.Warlock .description-btn {
  background-color: #391056;
  color: #d2a9ef;
  cursor: pointer;
}

.Warlock .description-btn:hover {
  color: #391056;
  background-color: #d2a9ef;
}

.Warlock .description-btn:focus {
  outline: none;
  color: #391056;
  background-color: #d2a9ef;
}

.Druid {
  -webkit-transition-duration: 300ms;
          transition-duration: 300ms;
  background-color: #6a2e10;
  color: #f4ccb8;
}

.Druid:hover {
  color: #6a2e10;
  background-color: #f4ccb8;
}

.Druid:focus {
  outline: none;
  color: #6a2e10;
  background-color: #f4ccb8;
}

.Druid .description-btn {
  background-color: #6a2e10;
  color: #f4ccb8;
  cursor: pointer;
}

.Druid .description-btn:hover {
  color: #6a2e10;
  background-color: #f4ccb8;
}

.Druid .description-btn:focus {
  outline: none;
  color: #6a2e10;
  background-color: #f4ccb8;
}

.Demon-Hunter {
  -webkit-transition-duration: 300ms;
          transition-duration: 300ms;
  background-color: #005c2f;
  color: #8fffc9;
}

.Demon-Hunter:hover {
  color: #005c2f;
  background-color: #8fffc9;
}

.Demon-Hunter:focus {
  outline: none;
  color: #005c2f;
  background-color: #8fffc9;
}

.Demon-Hunter .description-btn {
  background-color: #005c2f;
  color: #8fffc9;
  cursor: pointer;
}

.Demon-Hunter .description-btn:hover {
  color: #005c2f;
  background-color: #8fffc9;
}

.Demon-Hunter .description-btn:focus {
  outline: none;
  color: #005c2f;
  background-color: #8fffc9;
}

.loader {
  font-size: 32.36px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30%;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  margin-bottom: 2rem;
}

.loading-dot {
  width: 1em;
  height: 1em;
  background-color: black;
  border-radius: 100%;
}

.loading-dot:nth-child(1) {
  -webkit-animation: loading 2500ms -600ms linear infinite;
          animation: loading 2500ms -600ms linear infinite;
}

.loading-dot:nth-child(2) {
  -webkit-animation: loading 2500ms -300ms linear infinite;
          animation: loading 2500ms -300ms linear infinite;
}

.loading-dot:nth-child(3) {
  -webkit-animation: loading 2500ms linear infinite;
          animation: loading 2500ms linear infinite;
}

#search-page, #expansion-list {
  margin-top: 55px;
}

#expansion-list, .expansion, .class-list, .player-class-header, .card {
  -webkit-animation: reveal 300ms linear forwards;
          animation: reveal 300ms linear forwards;
}

#expansion-list, #search-list {
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.expansion {
  width: 95%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  opacity: 0;
}

.expansion-header {
  font-size: 48.54px;
  padding: .2em;
  margin: .2em;
  -webkit-transition-duration: 300ms;
          transition-duration: 300ms;
  background-color: black;
  color: white;
  border: solid 0.1rem green;
  width: 60%;
  margin: .2rem auto;
  text-decoration: underline;
}

.expansion-header:hover {
  color: black;
  background-color: white;
}

.expansion-header:focus {
  outline: none;
  color: black;
  background-color: white;
}

.class-list {
  padding: .2em;
  margin: .2em;
  width: 95%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.class-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  margin: 0 auto;
}

.player-class-header {
  padding: .2em;
  margin: .2em;
  -webkit-transition-duration: 300ms;
          transition-duration: 300ms;
  background-color: black;
  color: white;
  width: 30%;
  border: solid 0.1rem green;
}

.player-class-header:hover {
  color: black;
  background-color: white;
}

.player-class-header:focus {
  outline: none;
  color: black;
  background-color: white;
}

.card-list, #search-list {
  padding: .2em;
  margin: .2em;
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.card {
  padding: .2em;
  margin: .2em;
  font-size: 16.18px;
  border: solid 0.1em green;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  opacity: 0;
}

.hidden {
  display: none;
}

.card-description, .card-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.card-artist, .card-flavor {
  width: 80%;
  font-weight: 900;
  margin: 1rem auto;
}

.card-artist {
  text-decoration: underline;
}

h1 {
  font-size: 64.72px;
  padding: .2em;
  margin: .2em;
}

h2 {
  font-size: 48.54px;
  cursor: pointer;
}

h2 span {
  font-size: 32.36px;
}

header, nav {
  width: 100%;
  position: fixed;
  top: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #004d00;
  z-index: 1;
}

header a, nav a {
  font-size: 32.36px;
  -webkit-transition-duration: 300ms;
          transition-duration: 300ms;
  background-color: #004d00;
  color: #b3ffb3;
  padding: .2em;
  margin: .2em;
  color: #b3ffb3;
  background-color: #004d00;
  text-decoration: none;
}

header a:hover, nav a:hover {
  color: #004d00;
  background-color: #b3ffb3;
}

header a:focus, nav a:focus {
  outline: none;
  color: #004d00;
  background-color: #b3ffb3;
}

img {
  width: 200px;
  height: 290px;
  margin: 0 auto;
}

label, input {
  font-size: 48.54px;
  padding: .2em;
  margin: .2em;
}

input, button {
  padding: .2em;
  margin: .2em;
  background-color: #004d00;
  color: #b3ffb3;
  border: #b3ffb3 solid 0.1em;
  -webkit-transition-duration: 500ms;
          transition-duration: 500ms;
  cursor: pointer;
}

input:hover, button:hover {
  -webkit-box-shadow: 0.1em 0.1em 0.4em #004d00;
          box-shadow: 0.1em 0.1em 0.4em #004d00;
}

input:focus, button:focus {
  outline: none;
  -webkit-box-shadow: 0.1em 0.1em 0.4em #004d00;
          box-shadow: 0.1em 0.1em 0.4em #004d00;
}

button {
  font-size: 16.18px;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  padding: .2em;
  margin: 0 auto;
}

@-webkit-keyframes loading {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes loading {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes reveal {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes reveal {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media only screen and (max-width: 420px) {
  nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #search-page, #expansion-list {
    margin-top: 100px;
  }
  #search-page {
    margin-top: 130px;
  }
  label, input {
    width: 80%;
  }
}
/*# sourceMappingURL=style.css.map */